*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body{
    background: linear-gradient(#111,#222);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

body::after{
    content: '';
    width: 100%;
    height: 100%;
    background: red;
    position: absolute;
    z-index: -1;
    clip-path: circle(40% at right 70%);
}

.container{
    width: 80%;
    height: 80%;
    background: rgba(255,255,255,0.1);
    border-radius: 20px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    padding: 20px 0;
}

nav .logo{
    color: #fff;
    text-decoration: none;
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 700;
}

nav ul li{
    display: inline-block;
}

nav ul li a{
    padding: 0 6px;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}

.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 80%;
    margin: auto;
}

.content .text{
    color: #fff;
}

.content .text h2{
   font-size: 40px;
   text-transform: uppercase;
   font-weight: 700;
   letter-spacing: 2px;
}

.content .text p{
    font-size: 18px;
    margin: 40px 10px;
    letter-spacing: 1px;
    line-height: 25px;
}

.content .image{
    width: 40%;
}